version: '3.9'

services: 
  backend:
    build: ./backend
    container_name: alumni-backend
    ports: 
      - "4000:4000"
    env_file:
      - ./backend/.env
  
  frontend:
    build: ./frontend
    container_name: alumni-frontend
    ports: 
      - "5173:80"
    depends_on: 
      - backend